:root {
  --color-select: #f16d7f;
  --color-text: #222222;
  --color-white: #fbfbfb;
  --site-width: 1140px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

summary {
  display: block;
  outline: none;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "";
}

details[open] > summary::before {
  content: "";
}

.center {
  padding: 0 15px;
}
@media only screen and (min-width: 321px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
}
@media only screen and (min-width: 1180px) {
  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
}

.header {
  background: var(--color-text);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search {
  margin-left: 41px;
}
.header__right img:not(:last-child) {
  margin-right: 33px;
}

.footer {
  background: var(--color-text);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__left {
  width: 50%;
}
.footer__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.footer__copyright {
  color: var(--color-white);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.footer__icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  margin-left: 8px;
  background: var(--color-white);
}

.breadcrumbs-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F3F4;
  height: 148px;
}
.breadcrumbs-box__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-select);
}
.breadcrumbs-box__breadcrumbs {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.breadcrumbs-box__breadcrumbs a {
  color: #636363;
}
.breadcrumbs-box__breadcrumbs a:hover {
  color: var(--color-select);
}
.breadcrumbs-box__breadcrumbs a.breadcrumbs-box__actual {
  color: var(--color-select);
}

.subscribe {
  height: 450px;
  background: url(../../img/photosubscribe.jpg) bottom;
  background-size: cover;
  display: flex;
}
.subscribe__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe__img {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}
.subscribe__quote {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 70%;
  color: var(--color-text);
}
.subscribe__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe__form {
  display: flex;
}
.subscribe__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
}
.subscribe__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: var(--color-text);
}
.subscribe__input {
  background: #e1e1e1;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  height: 50px;
  width: 256px;
  border: none;
  padding-left: 16px;
  box-sizing: border-box;
}
.subscribe__button {
  background: var(--color-select);
  width: 100px;
  height: 50px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  cursor: pointer;
}
.subscribe__button:hover {
  background: #ea4b61;
}

.cart {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  align-items: flex-start;
}
.cart__products-box {
  margin-bottom: 72px;
}
.cart__address-form {
  margin-bottom: 58px;
}
.cart__shipping-address {
  margin-left: 128px;
  flex-grow: 1;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-box__product:not(:last-child) {
  margin-bottom: 40px;
}

.product {
  display: flex;
  background: #fff;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.product__description {
  padding: 22px 32px;
}
.product__title {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
  color: #222222;
}
.product__title:hover {
  color: var(--color-select);
}
.product__attr {
  display: flex;
  margin-bottom: 6px;
}
.product__attr-name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-right: 4px;
  color: #575757;
}
.product__attr-price, .product__attr-value {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.product__attr-price {
  color: var(--color-select);
}
.product__attr-input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #EAEAEA;
}

.button-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-bar__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background: #fff;
  border: 1px solid #A4A4A4;
  color: #000;
  padding: 16px 40px;
}
.button-bar__button:hover {
  box-shadow: 0 0 5px #000;
}

.address-form {
  display: flex;
  flex-direction: column;
}
.address-form__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 22px;
  color: #222222;
}
.address-form__form-control {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 16px 18px;
  border: 1px solid #A4A4A4;
  margin-bottom: 22px;
}
.address-form__form-control:last-child {
  margin-bottom: 24px;
}
.address-form__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  align-self: flex-start;
  color: #4A4A4A;
  padding: 12px 16px;
  background: #fff;
  border: 1px solid #A4A4A4;
}
.address-form__button:hover {
  box-shadow: 0 0 5px #000;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #F5F3F3;
  padding: 40px 44px;
}
.checkout .devider {
  width: 100%;
  height: 1px;
  background: #efefef;
  margin-bottom: 18px;
}
.checkout__sub-total {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.checkout__sub-total .checkout__price {
  margin-left: 8px;
}
.checkout__total {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 22px;
}
.checkout__total .checkout__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
  color: var(--color-select);
}
.checkout__button {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  align-self: normal;
  background: #F16D7F;
  padding: 16px 42px;
  color: #fff;
}
.checkout__button:hover {
  box-shadow: 0 0 5px #ff7676;
}

/*# sourceMappingURL=cart.css.map */
