@import "../style";
@import "../shared/fearture-box";
@import "../shared/subscribe";

.promo {
  display: flex;
  // todo: цвет в переменные
  background: #f1e4e6;

  @include mobile-only {
    padding-top: 148px;
    padding-bottom: 148px;
  }

  &__img {
    width: 50%;
    display: flex;

    @include mobile-only {
      display: none;
    }
  }

  &__photo {
    width: 100%;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    border-left: 12px solid var(--color-select);
    padding-left: 16px;
  }

  &__heading {
    @include f-family(normal, 900, 48px, 58px);
    color: var(--color-text);
  }

  &__info {
    @include f-family(normal, bold, 32px, 38px);
    color: var(--color-text);
  }
}

.select {
  color: var(--color-select);
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;

  &__top {
    display: flex;
    padding-bottom: 30px;

    @include mobile-only {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;

    @include tablet-and-above {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__p {
    @include f-family(normal, normal, 16px, 19px);
    text-align: center;
    color: var(--color-white);
  }

  &__heading {
    @include f-family(normal, bold, 24px, 29px);
    text-align: center;
    color: var(--color-select);
  }
}

.product-box {
  padding-bottom: 96px;

  &__heading {
    @include f-family(normal, normal, 30px, 36px);
    color: var(--color-text);
    text-align: center;
  }

  &__text {
    @include f-family(normal, normal, 14px, 17px);
    // todo: цвет в переменные
    color: #9f9f9f;
    text-align: center;
    margin-top: 6px;
  }

  &__content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 48px;
  }

  &__browse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-select);
    border: 1px solid var(--color-select);
    margin: 0 auto;
    width: 212px;
    height: 48px;
    @include f-family(normal, normal, 16px, 19px);
    text-align: center;
    cursor: pointer;

    &:hover {
      // todo: цвета в переменные
      color: #ea4b61;
      border-color: #ea4b61;
      background-color: #ffecec;
    }
  }
}

.product {
  width: 360px;
  // todo: цвет в переменные
  background: #f8f8f8;
  margin-bottom: 30px;
  position: relative;

  &:hover {
    .product__img {
      filter: brightness(50%);
    }

    .product__add {
      display: flex;
    }
  }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 24px 16px 20px;
  }

  &__name {
    @include f-family(normal, normal, 13px, 16px);
    // todo: цвет в переменные
    color: #000;
    display: flex;
    margin-bottom: 12px;
  }

  &__text {
    @include f-family(normal, 300, 14px, 17px);
    // todo: цвет в переменные
    color: #5d5d5d;
    margin-bottom: 18px;
  }

  &__price {
    @include f-family(normal, normal, 16px, 19px);
    color: var(--color-select);
  }

  &__add {
    display: none;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    border: 1px solid var(--color-white);
    @include f-family(normal, normal, 14px, 17px);
    position: absolute;
    top: 190px;
    left: 110px;
    color: var(--color-white);

    &:hover {
      box-shadow: 0 0 5px var(--color-white);
    }
  }
}
